# This is a basic workflow to help you get started with Actions

name: Build & Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: 
    - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Find Directory
        run: cd $GITHUB_WORKSPACE
        

      - name: Zip Plugin
        run: zip -r extension.zip ./plugin

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          # Artifact name
          name: extension
          # A file, directory or wildcard pattern that describes what to upload
          path: extension.zip
          # The desired behavior if no files are found using the provided path
          if-no-files-found: error
